/*#region common*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

/* Block page scroll */
body:has(.modal-overlay.is-open) {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* #endregion */

/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.header-logo {
  align-items: center;
  display: block;
  padding: 24px 0;
  margin-right: 76px;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.nav-item-link {
  color: #2e2f42;
  font-weight: 500;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
  position: absolute;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.address-section {
  font-style: normal;
  display: flex;
  margin-left: auto;
}

.header-contacts {
  display: flex;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-list-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item {
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-link:hover,
.nav-item-link:focus,
.contacts-item:hover,
.contacts-item:focus {
  color: #404bbf;
}

.logo-span {
  font-weight: 700;
  font-size: 18px;
  color: #2e2f42;
}
/* #endregion */

/* #region Effective Solutions */
.introduction-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  height: 600px;
  padding: 188px 0 188px;
  margin: 0 auto;
}

.introduction-title {
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  margin: 0 auto;
  max-width: 496px;
  color: #ffffff;
}

.button-order-service {
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  margin: 48px auto 0;
  display: block;
  border: none;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order-service:hover,
.button-order-service:focus {
  background-color: #404bbf;
}
/* #endregion */

/* #region About us */
.about-us-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.about-us-list-item {
  width: calc((100% - 72px) / 4);
}

.icon-container {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 24px 100px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
}

.about-us-item {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}
/* #endregion */

/* #region Team */
.team-section {
  background-color: #f4f4fd;
}

.our-team {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;
}

.our-team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.our-team-item {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
}

.our-team-member-role {
  text-align: center;
  margin-bottom: 8px;
}

.our-team-card-text {
  padding: 32px 0px;
}

.our-team-member {
  text-align: center;
  margin-bottom: 8px;
}
.social-link-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.social-link-list-item {
  background-color: #4d5ae5;
  border-radius: 50%;
}

.social-link {
  width: 40px;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:focus,
.social-link:hover {
  background-color: #404bbf;
}

.icon-social-svg {
  fill: #f4f4fd;
}
.our-team,
.our-portfolio {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.our-team-member {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}
/* #endregion */

/* #region Portfolio */
.our-portfolio {
  margin-bottom: 72px;
}

.our-portfolio-item {
  background-color: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;

  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.our-portfolio-item:hover .overlay {
  transform: translateY(0);
}

.our-portfolio-item-name {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-card-text {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
/* #endregion */

/* #region Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  border-radius: 4px;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  position: absolute;
  padding: 72px 24px 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .modal-overlay.is-open .modal {
  opacity: 1;
  transform: translate(-50%, -50%);

  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, transform;
} */

.modal-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #2e2f42;
  background-color: #e7e9fc;
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-close:hover,
.modal-btn-close:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}
/* .modal-btn-close:hover .modal-icon,
.modal-btn-close:focus .modal-icon {
  fill: #fff;
} */

.modal-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field {
  margin-bottom: 8px;
}

.form-textarea-field {
  margin-bottom: 16px;
}

.form-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
}

.modal-form-wrapper {
  position: relative;
}

.form-input {
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  outline: transparent;
  background-color: transparent;
  padding: 11px 38px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}

.form-input:focus {
  border-color: #4d5ae5;
}

/* Input validation */
/* .form-input:user-invalid {
  border-color: red;
} */

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.input-form-comment {
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  outline: transparent;
  padding: 8px 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form-comment:focus {
  border-color: #4d5ae5;
}

.input-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

/* Custom checkbox */

.form-agreement {
  margin-bottom: 24px;
}

.agreement-label {
  font-weight: 400;
  font-size: 12px;

  /* line-height: 14px; */
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.agreement-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  fill: transparent;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.agreement-input:checked + .agreement-label > .agreement-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.agreement-checkbox-icon {
  fill: currentColor;
}

.accent-text {
  /* line-height: 16px; */
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.form-btn-send {
  display: block;

  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin: 0 auto;
}

.form-btn-send:hover {
  background-color: #404bbf;
}

/* #endregion */

/* #region Footer */
.footer-section {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-paragraph {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  width: 264px;
}

.logo-part-footer {
  color: #f4f4fd;
  font-weight: 700;
  font-size: 18px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.webstudio-footer-container {
  margin-right: 120px;
}

.social-footer-container {
  display: block;
  width: 208px;
  height: 80px;
  margin-right: 80px;
}
.social-media-footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.social-link-footer-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.social-link-footer-list-item {
  background-color: #4d5ae5;
  border-radius: 50%;
}
.footer-social-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:focus,
.footer-social-link:hover {
  background-color: #31d0aa;
}

.footer-sub-container {
  width: 453px;
  height: 80px;
}
.sub-mail-form {
  display: flex;
  gap: 24px;
}
.sub-form-label {
  display: flex;
  flex-direction: column;
}
.footer-sub-paragraph {
  color: #fff;
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.footer-sub-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-send {
  margin-left: 16px;
}

.footer-sub-button:focus,
.footer-sub-button:hover {
  background-color: #404bbf;
}
.input-email {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 8px;
  padding-left: 16px;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.input-email::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #fff;
}
.sub-button-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}
/* #endregion */
